root: {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
}

a {
  color: #00b7ff;
}

.edit-button {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;
  background-color: grey;
  border-radius: 6px;
}
